.cache/clangd/index
out/build
compile_commands.json
build
.continue/rules
.idea
.vs
.claude
.github/instructions
out
code/slayerlog/debugging/demo_file.log
code/slayerlog/debugging/demo_file.log.pid
code/slayerlog/debugging/demo_file_secondary.log
